*{
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee';font-size: 22px;
}
.header{
    text-align: center;
}

.sushi h1{
    float: right;
    background:rgb(247, 247, 165);
    width: 40%;
    text-align: center;
    margin: auto;
    overflow: hidden;
    border: 2px solid black;
}
.beef h1{
    float: right;
    color: aliceblue;
    background: red;
    width: 40%;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    overflow: hidden;
}
.chicken h1{
    float: right;
    background: rgb(238, 135, 152);
    width: 40%;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
}
.sushi p{
    padding: 10px;
    clear: both;
}
.beef p{
    padding: 10px;
    clear: both;
}
.chicken p{
    padding: 10px;
    clear: both;
}

@media (min-width: 992px){
    .sushi{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width:  30%;
        position: relative;
        right: 2%;
    }
    .beef{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width:  30%;
        position: relative;
        right: 5%;
    }
    .chicken{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width:  30%;
        position: relative;
        right: 8%;
    }
    section{
        float: right;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .sushi{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width: 45%;
        position: relative;
        right: 3%;
        margin-bottom: 30px;
    }
    .beef{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width: 45%;
        position: relative;
        right: 7%;
    }
    .chicken{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width: 94%;
        position: relative;
        right: 3%;
    }    
    section{
        float: right;
    }
}

@media (max-width: 767px){
    .sushi{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        width : 90%;
        margin: auto auto 20px auto;
    }
    .beef{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        margin: auto;
        width : 90%;
    }
    .chicken{
        background: rgb(180, 180, 180);
        border: 2px solid black;
        margin: 20px auto;
        width : 90%;
    }    
}
